.CourseSearch {
  margin-bottom: 1em;
  overflow-x: scroll;
}

.CourseSearch .all-enabled {
  display: inline;
}

.CourseSearch .indent {
  margin-left: 1em;
}

.CourseSearch .indent > * {
  display: inline;
}

.CourseSearch .title {
  display: inline;
  padding: 0;
  margin: 0;
  padding-left: .5em;
}

.CourseSearch .search-input {
  width: 80%;
  margin: auto;
}

.CourseSearch .arrow-down {
  width: 98%;
  text-align: center;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border: 1px solid grey;
  border-top: none;
  color: grey;
}

.CourseSearch .course-group {
  margin-left: 1.5em;
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 0;
  grid-template:
    "line line"
    "toggle info";
}

.CourseSearch .course-group hr {
  grid-area: line;
  width: 100%;
}

.CourseSearch .course-group input {
  grid-area: toggle;
}

.CourseSearch .course-info {
  grid-area: info;
  text-align: left;
}
