:root {
  --dark-green: #2f5e39;
  --light-green: #8bb138;
}

* {
  outline: none;
}

.rbc-time-header { display: none; }
.rbc-time-content { border-top: none; }
.rbc-current-time-indicator { display: none !important; }
.rbc-current-time-indicator::before { display: none; }
.rbc-current-time-indicator::after { display: none; }
.rbc-today { background-color: rgba(0,0,0,0) }
.rbc-now { font-weight: normal !important; }

.App {
  font-size: large;
  display: grid;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
    "header   header   header"
    "calendar calendar queries"
    "footer   footer   footer"
}


.App .header {
  grid-area: header;
  background-color: var(--dark-green);
  height: 80px;
  padding: 20px;
  color: white;
}

.App .logo {
  height: 80px;
}

.App .header * {
  display: inline-block;
}

.App .calendar {
  grid-area: calendar;
}

.App .queries {
  grid-area: queries;
}
